*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.idea
.DS_Store
/build
build
/captures
bin
.settings
local.properties
keystore.properties
gen
*.apk
*.jks
proguard_logs/
configurationkeys.tar